<div class="container mt-5 mb-5 d-flex justify-content-center">
    <div class="card px-1 py-4">
      <div class="card-body">
        <h6 class="card-title mb-3">Edit Task</h6>
  
        <form #form="ngForm" (ngSubmit)="updatetask()" >
        
            <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                  
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Project ID"
                      id="id" name="id" [(ngModel)]="taskDetails.id" readonly
      
                     
                    />
                  </div>
                </div>
              </div>
        
        
            <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <!-- <label for="name">Name</label> -->
                <input
                  class="form-control"
                  type="text"
                  placeholder="Project Name"
                  id="projectName" name="projectName" [(ngModel)]="taskDetails.projectName"
  
                 
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Task Name"
                    id="taskName" name="taskName" [(ngModel)]="taskDetails.taskName"
                   
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <label for="customRange1" class="form-label"
                    >Set Priority</label
                  >
                  <input type="range" min="0" max="10" class="form-range" id="customRange1"
  
                  id="priority" name="priority" [(ngModel)]="taskDetails.priority"
                  
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Start Date"
  
                    id="startdate" name="startdate" [(ngModel)]="taskDetails.startdate"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="input-group">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="End Date"
  
                    id="enddate" name="enddate" [(ngModel)]="taskDetails.enddate"
                  />
                </div>
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group container">
                <br />

                <td>
                  <button type="submit" onsubmit="show()" class="btn btn-success confirm-button">
                    &nbsp;Update&nbsp;
                  </button></td>
                <td>  <button type="submit" class="btn btn-danger confirm-button" (click)="deletetask(taskDetails.id,taskDetails.projectName)">Delete</button></td>
                <td><button class="btn rest btn-primary confirm-button"
                  type="reset"
                  value="Reset">
                    Reset
                  </button></td>
                
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <a href="/viewtasks" class="viewbtn"><span>View all tasks ➤</span></a>
  
  <script>
    const inputSlider = document.getElementById("priority");
  
    inputSlider.oninput = (()=>
  
    {
      let val = inputSlider.value;
    
    }
    
    )
  </script>