
    <div class="container"><br>
      <br>
      
      
      
          <div class="card " style="width: 18rem;">
              <img class="card-img-top" src="assets\useradd.gif" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Add User</h5>
                <p class="card-text">Let's add you in </p>
                <a href="/adduser" class="btn btn-success">Let's Go</a>
              </div>
              
            </div>
      
            <div class="card " style="width: 18rem;">
              <img class="card-img-top pr" src="assets\projectcreate.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Create Project</h5>
                <p class="card-text">Create your Project </p>
                <a href="/createproject" class="btn btn-danger">Create!</a>
              </div>
              
            </div>
      
            
            <div class="card " style="width: 18rem;">
              <img class="card-img-top" src="assets\taskadd.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Add Task</h5>
                <p class="card-text">Let's create a task </p>
                <a href="/addtask" class="btn btn-warning">Add +</a>
              </div>
              
            </div>
      
      
            <div class="card mb-3 view">
              <img class="card-img-top viewimg" src="assets\viewtask.gif" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">View Tasks</h5>
                <p class="card-text">You can view your projects, tasks, dates & ids here.</p>
                <a href="/viewtasks" class="btn btn-primary vb">View Tasks ➤</a>
              </div>
            </div>
      </div>

      
     




